body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(185, 219, 242);
    color: #333;
    line-height: 1.25;
}

header{
    background: linear-gradient(to right, #831bcd, #f9620b) ;
    border-radius: 8px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.4);
}

footer{
    background-color: #333;
    border-radius: 8px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.4);
}

p{
    font-size: 16px;
}

iframe{
    border: none;
    border-radius: 8px;
}

section{
    justify-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 800px;
}

h1,h3{
    color: #333;
}

header,footer{
    margin: 20px auto;
    max-width: 840px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header>h1{
    color: white;
}
