body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(185, 219, 242);
    color: #000;
    line-height: 1.5;
}

header{
    background: linear-gradient(to right, #b72ea5 , #4518b8, #df8219);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);
    margin: 20px, auto;
    max-width: 840px;
}

footer{
    background-color: gray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);
    margin: 20px, auto;
    max-width: 800px;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px #000000e3;
}

header, footer{
    text-align: center;
    padding: 20px, 0;
    color: #fefefe;
}

li{
    font-size: larger;
}

button{
    padding: auto;
    color: white;
    height: 25px;
    width: 80px;
    border-radius: 8px;
    justify-content: center;
    margin: 0, auto;
    align-items: center;
    border: none;
    background: rgb(96, 96, 223);
    box-shadow: 0 5px 10px rgba(28, 46, 105, 0.712);
}

button:hover{
    background-color: gray;
}

p{
    font-size: 16px;
}

iframe{
    border: none;
}

section{
    margin: 20px, auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.626);
    border-radius: 8px;
    max-width: 800px;
    text-align: left;
}